

<blockquote class="blockquote mb-3">
    
    
      <p><%= comment.body %></p>
      <footer class="blockquote-footer"><%=  comment.commenter %></cite></footer>

      
</blockquote>

<%= link_to 'Delete', [comment.article, comment],
               method: :delete,
               class:"btn btn-outline-danger btn-sm",
               data: { confirm: 'Are you sure?' } %>

</p>
